
body{
	font-family: Arial, Helvetica, sans-serif;
	display: grid;
	place-items: center;
	background: pink;

}

h1{

	color: palevioletred;
	font-size: 5em;
	
}
p{
	color: rgb(255, 97, 97);
	font-size: 2em;
	
}

.button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
h1 span{
	
	padding: 1rem;
	animation: animate 4s ease infinite;
}
h1 span:nth-child(1)
{
	animation-delay: 0s;
}
h1 span:nth-child(2)
{
	animation-delay: 0.2s;
}
h1 span:nth-child(3)
{
	animation-delay: 0.4s;
}
h1 span:nth-child(4)
{
	animation-delay: 0.6s;
}
h1 span:nth-child(5)
{
	animation-delay: 0.8s;
}
h1 span:nth-child(6)
{
	animation-delay: 1.0s;
}
h1 span:nth-child(7)
{
	animation-delay: 1.2s;
}
h1 span:nth-child(8)
{
	animation-delay: 1.4s;
}
h1 span:nth-child(9)
{
	animation-delay: 1.6s;
}
h1 span:nth-child(10)
{
	animation-delay: 1.8s;
}
h1 span:nth-child(11)
{
	animation-delay: 2.0s;
}
h1 span:nth-child(12)
{
	animation-delay: 2.2s;
}



@keyframes animate{
	0%,100%{
		color: #fff;
		filter: blur(2px);
		text-shadow: 0 0 10px palevioletred,
		0 0 20px palevioletred,
		0 0 400px palevioletred,
		0 0 80px palevioletred,
		0 0 120px palevioletred,
		0 0 200px palevioletred,
		0 0 300px palevioletred,
		0 0 400px palevioletred
	}
	5%,95%{
		color: palevioletred;
		filter: blur(0px);
		text-shadow: none;
	}
}
